@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.no_scrollBar::-webkit-scrollbar{
  width: 0px;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-up {
  animation: scrollUp 15s linear infinite;
}

.scroll-down {
  animation: scrollDown 15s linear infinite;
}

.scroll-up:hover,
.scroll-down:hover {
  animation-play-state: paused;
}
