@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.no_scrollBar::-webkit-scrollbar{
  width: 0px;
  visibility: hidden;
}

html{
  scroll-behavior: smooth;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-up {
  animation: scrollUp 15s linear infinite alternate-reverse;
}

.scroll-down {
  animation: scrollDown 15s linear infinite alternate-reverse;
}

.scroll-up:hover,
.scroll-down:hover {
  animation-play-state: paused;
}

.price-marker {
    background: white;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    color: black;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
}

.all_Filter{
  z-index: 10000000000000;
}